*.tfstate
*.tfstatebackup
*.log
.terraform/
*.terraform/
*.terraform/*
*.pem
*.bak
*/.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/linux_amd64/terraform-provider-aws_v4.61.0_x5
*/.terraform.tfstate
*/.terraform.tfstate.backup
modules/webserver/terraform.tfstate.backup
modules/webserver/terraform.tfstate
*/modules/webserver/terraform.tfstate.backup
*/modules/webserver/terraform.tfstate
.terraform/
./modules/webserver/.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/linux_amd64/terraform-provider-aws_v4.61.0_x5

